/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.travel {
    &__inner {
        padding: 50px 150px; //左に余白多めにする
    }

}


//popular place//

.popular {

    &__item {
        flex-basis: 23%;    
    }

    &__img {
        height: 335px;
    }
}

.side {
    display: block;
}
